name: Go Haskell CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  IMAGE_NAME: go-game-socket-server
  DOCKER_FILE_PATH: docker/socket-server/Dockerfile
  INFRASTRUCTURE_BUILD_ARTEFACT_NAME: infrastructure-build-artifact
  INFRASTRUCTURE_BUILD_ARTEFACT_PATH: infrastructure/cdktf.out
  APPLICATION_BUILD_ARTIFACT_NAME: go-game-socket-server-build-artifact
  APPLICATION_BUILD_ARTIFACT_PATH: dist-newstyle

jobs:
  buildInfrastructure:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: infrastructure

      - name: Build infrastructure
        run: yarn run build
        working-directory: infrastructure

      - name: Archive build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.INFRASTRUCTURE_BUILD_ARTEFACT_NAME }}
          path: ${{ env.INFRASTRUCTURE_BUILD_ARTEFACT_PATH }}

  buildApplication:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.6.4'
          cabal-version: '3.10.3.0'

      - name: Cache
        uses: actions/cache@v4
        env:
          cache-name: cache-cabal
        with:
          path: ~/.cabal
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: |
          cabal update
          cabal build --only-dependencies --enable-benchmarks
      - name: Build
        run: cabal build --enable-benchmarks all
      - name: Archive build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.APPLICATION_BUILD_ARTIFACT_NAME }}
          path: ${{ env.APPLICATION_BUILD_ARTIFACT_PATH }}

  apiTests:

    runs-on: ubuntu-latest
    needs: buildApplication

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install conan==1.62.0
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.APPLICATION_BUILD_ARTIFACT_NAME }}
          path: ${{ env.APPLICATION_BUILD_ARTIFACT_PATH }}
      - name: Setup tests
        run: |
          conan create . go-haskell-socket-api/testing --build=missing
          conan profile update settings.compiler.libcxx=libstdc++11 default
      - name: Run tests
        run: conan test tests GoHaskellSocketApiTest/0.0.1@go-haskell-socket-api/testing --build=missing

  pushToRegistry:

    runs-on: ubuntu-latest
    needs: apiTests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.APPLICATION_BUILD_ARTIFACT_NAME }}
          path: ${{ env.APPLICATION_BUILD_ARTIFACT_PATH }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          file: ${{ env.DOCKER_FILE_PATH }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest

  pushToGoogleCloud:

    runs-on: ubuntu-latest
    needs: [ apiTests, buildInfrastructure ]

    env:
      LOCATION: europe-west1
      REPOSITORY: go-services

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.APPLICATION_BUILD_ARTIFACT_NAME }}
          path: ${{ env.APPLICATION_BUILD_ARTIFACT_PATH }}

      - name: Login to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCLOUD_SA_KEY }}

      - name: Configure Docker Client
        run: |-
          gcloud auth configure-docker ${{ env.LOCATION }}-docker.pkg.dev --quiet

      - name: Create Artifact Registry Repository
        run: |
          gcloud artifacts repositories create ${{ env.REPOSITORY }} \
            --repository-format=docker \
            --location=${{ env.LOCATION }} \
            --description="Docker repository" \
            --project=${{ vars.GCLOUD_PROJECT_ID }} || true

      - name: Build and Push to Google Cloud
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          file: ${{ env.DOCKER_FILE_PATH }}
          tags: |
            ${{ env.LOCATION }}-docker.pkg.dev/${{ vars.GCLOUD_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.LOCATION }}-docker.pkg.dev/${{ vars.GCLOUD_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:latest

  deployApplication:
    runs-on: ubuntu-latest
    needs: pushToGoogleCloud

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.INFRASTRUCTURE_BUILD_ARTEFACT_NAME }}
          path: ${{ env.INFRASTRUCTURE_BUILD_ARTEFACT_PATH }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.2"

      - name: Login to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCLOUD_SA_KEY }}

      - name: Deploy Application
        run: |
          yarn run deploy \
            -var base64-encoded-google-credentials=${{ secrets.GCLOUD_SA_KEY_BASE64 }} \
            -var google-project=${{ vars.GCLOUD_PROJECT_ID }} \
            -var git-hash=${{ github.sha }} \
            --auto-approve
        working-directory: infrastructure
